.App {
  text-align: center;
}

.todo-container{

  background: linear-gradient(90deg, #fcfafa 0%, #ffffff 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;

  margin: 100px auto;
  max-width: 500px;
  padding: 40px;

}

.todo-inp{
  
  outline: none;


  width: 97%;
  max-width: 490px;
  padding: 10px 5px;
}

.todo-btns-container{

  /* background-color: rgb(245, 237, 237); */
  text-align: start;
}

.todo-btns-container > *{
  
  outline: none;
  background: none;
  border: none;
  color: rgb(0, 110, 255);
  margin: 15px 10px;
}

.tasks-container{
  /* background-color: beige; */
  text-align: start;
}


.tasks-container > *{
  background-color: rgb(242, 242, 242);
  margin: 5px 0;
  padding: 10px 0;
}
